<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/registro.css">
    <title>Principal</title>
</head>
<body>

    <div class="navbar">   
        <a href="/cuentas/<%= dato[0] %>">Cuentas</a>
        <a href="/transferencia/<%= dato[0] %>">Transferencias</a>
        <a href='/estado_cuenta/<%= dato[0] %>' >Estados de Cuenta</a>
        <a href='/' >Salir</a>
    </div>
    

</body>

</html>