<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registro.css">
    <title>Transferencias</title>
</head>
<body>

    <div class="navbar">   
        <a href="cuentas">Cuentas</a>
        <a href="/transferencia/<%= id %>">Transferencias</a>
        <a href='/estado_cuenta' >Estados de Cuenta</a>
        <a href='/' >Salir</a>
    </div>
    
    <div>
        <h2>Formulario de Transferencia</h2>

<form action="/transferir/<%= id %>" method="post">
  <label for="monto">Monto:</label><br>
  <input type="number" name="txt_monto" id="monto" name="monto" required><br>
  <label for="cuenta_destino">Cuenta Destino:</label><br>
  <input type="number" name="txt_cuenta_destino" id="cuenta_destino" name="cuenta_destino" required><br>
  <label for="cuenta_origen">Cuenta Origen:</label><br>
  <input type="number" name="txt_cuenta_origen" id="cuenta_origen" name="cuenta_origen" required><br>
  <label for="id_usuario">ID Usuario:</label><br>
  <input type="number" name="txt_id_usuario" id="id_usuario" name="id_usuario" required><br>
  <input type="submit"  value="Enviar">
</form> 

    </div>
    
</body>

</html>